@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
/* The following line is used to measure usage of this code. You can remove it if you want. */
@import url("https://px.animaapp.com/696f0609e8d755082eabd246.696f0609e8d755082eabd249.TMo5KwW.hcp.png");

@font-face {
  font-family: "Paperlogy-5Medium";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Paperlogy-5Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Paperlogy-7Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Paperlogy-7Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Paperlogy-3Light";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Paperlogy-3Light.ttf") format("truetype");
}

.screen a {
  display: contents;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
