:root { 
  --alto: #d9d9d9;
  --alto-2: #dddddd;
  --black: #000000;
  --black-2: #0000001f;
  --chelsea-cucumber: #82bc5e;
  --concord: #7d7d7d;
  --gray-nurse: #eaeaea;
  --java: #12bac3;
  --pattens-blue: #dbf5ff;
  --quill-gray: #d6d6d6;
  --sonic-silver: #737373;
  --suva-gray: #888888;
  --white: #ffffff;
  --white-2: #ffffff4a;
  --white-3: #ffffff99;
 
  --font-size-l: 25px;
  --font-size-m: 18px;
  --font-size-s: 17px;
  --font-size-xs: 16px;
  --font-size-xxs: 15px;
  --font-size-xxxs: 14px;
  --font-size-xxxxs: 13px;
 
  --font-family-flight_sans_otf-bold: "Flight Sans OTF-Bold", Helvetica;
  --font-family-flight_sans_otf-regular: "Flight Sans OTF-Regular", Helvetica;
  --font-family-paperlogy-3light: "Paperlogy-3Light", Helvetica;
  --font-family-paperlogy-4regular: "Paperlogy-4Regular", Helvetica;
  --font-family-paperlogy-5medium: "Paperlogy-5Medium", Helvetica;
  --font-family-paperlogy-6semibold: "Paperlogy-6SemiBold", Helvetica;
  --font-family-paperlogy-7bold: "Paperlogy-7Bold", Helvetica;
  --font-family-paperlogy-bold: "Paperlogy-Bold", Helvetica;
  --font-family-paperlogy-regular: "Paperlogy-Regular", Helvetica;
}
.paperlogy-5-medium-black-18px {
  color: var(--black);
  font-family: var(--font-family-paperlogy-5medium);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.paperlogy-4regular-normal-quill-gray-13px {
  color: var(--quill-gray);
  font-family: var(--font-family-paperlogy-4regular);
  font-size: var(--font-size-xxxxs);
  font-style: normal;
  font-weight: 400;
}

.paperlogy-5-medium-sonic-silver-13px {
  color: var(--sonic-silver);
  font-family: var(--font-family-paperlogy-5medium);
  font-size: var(--font-size-xxxxs);
  font-style: normal;
  font-weight: 500;
}

.paperlogy-5-medium-white-17px {
  color: var(--white);
  font-family: var(--font-family-paperlogy-5medium);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 500;
}

.paperlogy-5-medium-sonic-silver-14px {
  color: var(--sonic-silver);
  font-family: var(--font-family-paperlogy-5medium);
  font-size: var(--font-size-xxxs);
  font-style: normal;
  font-weight: 500;
}

.paperlogy-4regular-normal-black-23px {
  color: var(--black);
  font-family: var(--font-family-paperlogy-4regular);
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
}

.paperlogy-4regular-normal-sonic-silver-13px {
  color: var(--sonic-silver);
  font-family: var(--font-family-paperlogy-4regular);
  font-size: var(--font-size-xxxxs);
  font-style: normal;
  font-weight: 400;
}

.paperlogy-regular-normal-black-23px {
  color: var(--black);
  font-family: var(--font-family-paperlogy-regular);
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
}

.paperlogy-5-medium-white-18px {
  color: var(--white);
  font-family: var(--font-family-paperlogy-5medium);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.paperlogy-5-medium-black-16px {
  color: var(--black);
  font-family: var(--font-family-paperlogy-5medium);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 500;
}

.paperlogy-semi-bold-black-45px {
  color: var(--black);
  font-family: var(--font-family-paperlogy-6semibold);
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
}

.paperlogy-4regular-normal-white-18px {
  color: var(--white-2);
  font-family: var(--font-family-paperlogy-4regular);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.paperlogy-3-light-suva-gray-16px {
  color: var(--suva-gray);
  font-family: var(--font-family-paperlogy-3light);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 300;
}

.paperlogy-5-medium-java-12px {
  color: var(--java);
  font-family: var(--font-family-paperlogy-5medium);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
}

.paperlogy-5-medium-chelsea-cucumber-22px {
  color: var(--chelsea-cucumber);
  font-family: var(--font-family-paperlogy-5medium);
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
}
